<template name="teamEdit">
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="teamName">Team Name</label>
      <div class="controls">
        <input name="teamName" id="teamName" type="text" value="{{teamName}}" placeholder="Your Team Name" class="form-control"/>
      </div>
    </div>
  <div class="form-group">
    <label class="control-label" for="teamTag">Team Tag</label>
    <div class="controls">
      <input name="teamTag" id="teamTag" type="text" value="{{teamTag}}" placeholder="Your Team Tag" class="form-control"/>
    </div>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
  <hr/>
  <a class="btn btn-danger delete" href="#">Delete post</a>
  </form>
</template>