<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
  	  <div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="coll
  apse" data-target="#navigation">
    		<span class="sr-only">Toggle navigation</span>
  	    <span class="icon-bar"></span>
  	    <span class="icon-bar"></span>
  	    <span class="icon-bar"></span>
  	    </button>
        <a class="navbar-brand">Challengr</a>
      </div>
      <div>
    	  <ul class="nav navbar-nav">
          {{#if currentUser}}
            <li><a href="{{pathFor 'userInvitePage'}}">My Invites</a></li>
            <li><a href="{{pathFor 'teamsCaptainList'}}">My Teams</a></li>
            <li><a href="{{pathFor 'teamsList'}}">List Teams</a></li>
            <li><a href="{{pathFor 'teamCreate'}}">Create Team</a></li>
            <li><a href="{{pathFor 'tournamentsList'}}">List Tournaments</a></li>
            <li><a href="{{pathFor 'tournamentCreate'}}">Create Tournament</a></li >
          {{/if}}
        </ul>
    	  <ul class="nav navbar-nav navbar-right">
    		  {{> loginButtons}}
    		</ul>
      </div>
    </div>
  </nav>
</template>