<template name="tournamentPageItem">
  <div class="tournament">
    <div class="tournament-content">
      <h3>{{tournamentName}}</h3>
      <p>
        Hosted by {{author}}
        {{#if ownPost}}<a href="{{pathFor 'tournamentEdit'}}">Edit Tournament</a>{{/if}}
      </p>
      <p>
        Format: 
        {{#if this.format}}
            {{this.format}}
        {{else}}
            None
        {{/if}}
      </p>
      <h4>Tournament Teams</h4>
    	  {{#each tournamentTeams}}
    	  	  {{>tournamentTeamItem teamId=this.teamId}}
    	  {{/each}}
    </div>
    {{#if currentUser}}
      {{#unless isLocked}}
        <a href="{{pathFor 'tournamentJoinList'}}" class="join btn btn-default">Join</a>
      {{/unless}}
    {{/if}}
  </div>
</template>