<template name="teamPageItem">
  <div class="team">
    <div class="team-content">
      <h3>{{teamName}} <span>[{{teamTag}}]</span></h3>
      <h4>Team Members</h4>
	  {{#each teamMembers}}
	  	  {{>teamMemberItem memberId=this.memberId memberRole=this.memberRole teamId=../_id members=../members}}
	  {{/each}}
      <p>
        submitted by {{author}}
        {{#if ownPost}}
            <a href="{{pathFor 'teamEdit'}}">Edit</a>
            <a href="{{pathFor 'teamPendingList'}}">View Applications</a>
            <a href="{{pathFor 'teamInvitePage'}}">Invite</a>
        {{/if}}
      </p>	
    </div>
    {{#if currentUser}}
    {{#unless isCaptain}}
    {{#unless isLocked}}
      {{#if inTeam}}
        <a class="leave btn btn-default">Leave</a>
      {{else}}
        {{#if inPending}}
          <a class="rescind btn btn-default">Rescind</a>
        {{else}}
          <a class="apply btn btn-default">Apply</a>
        {{/if}}
      {{/if}}
    {{/unless}}
    {{/unless}}
    {{/if}}
  </div>
</template>