<template name="home">
  <div class="container">
    <div class="row">
      <div class="access-denied jumbotron">
        <h2>Esports Tournaments Made Easy</h2>
        <p>Simple to use and FREE</p>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>{{numTournaments}}</h2>
          <h4>Tournaments Hosted</h4>
        </div>  
        <div class="col-md-6">
          <h2>{{numTeams}}</h2>
          <h4>Teams Playing</h4>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Single Page Tournament Dashboard</h4>
          <br>
          <br>
          Hosts can easily manage their tournaments, which include tournament rules, prizes, bracketings, player management and more.
          <br>
          <br>
          Players can view existing tournaments, join tournament and create teams.
          <br>
          <br>
          All in one page
        </div>  
        <div class="col-md-6">
          <img src="http://placehold.it/350x200">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-6">
          <h4>Player Profiles</h4>
          <br>
          <br>
          View and manage your own player profile. Connect with friends or with players around the world. Show off your player stats and ranks.
        </div>  
        <div class="col-md-6 col-md-pull-6">
          <img src="http://placehold.it/350x150">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Host Support</h4>
          <br>
          <br>
          Professional esports host? University/College Student Club? A corporate who is interested in the esports industry?
          <br>
          <br>
          Contact us via hosts@challengr.me and we can provide you with an end-to-end solution for eSports hosting, giving you cheaper access to prizes and brand exposure.
        </div>  
        <div class="col-md-6">
          <img src="http://placehold.it/350x200">
        </div>
      </div>
    </div>
  </section>
</template>